<div id="additional-footer-bg">
    <div id="additional-footer">

        <h4 class="left">Additional Footer <br /> Example</h4>
        <img src="images/additional-footer-divider.jpg" class="additional-footer-divider" alt="" />
        <p>In this footer you can add your clients logo, company news, testimonials, recent projects etc. This is optional footer which you can hide by removing simple html code. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis laoei reet nisl. Nam vehicula sollicitudin posuere. Vestibulum rutrum elementum erat eget elementum.</p>

    </div> <!-- #additional-footer -->
</div> <!-- #additional-footer-bg -->

<!-- *************************************** -->
<!-- Edit Large footer CSS Styles from style.css > (10) LARGE FOOTER ( Footer Latest News,Footer Testimonials  )   -->
<div id="footer-top-bg">
    <div id="footer-bg">
        <div id="footer">

            <div class="one-third">
                <div class="footer-title-arrow"></div>
                <h2>Why <span class="skin-color">Choose Us</span></h2>
                <div class="list-checkmark">
                    <ul>
                        <li>We are a stable company</li>
                        <li>We are dedicated to quality</li>
                        <li>Transparent quotes, no any hidden fees</li>
                        <li>We work Monday to Saturday</li>
                        <li>Fast work without any compromise</li>
                        <li>Email, Phone &amp; Chat Support</li>
                    </ul>
                </div> <!-- .list-checkmark -->
            </div> <!-- .one-third -->

            <div class="one-third">
                <div class="footer-title-arrow"></div>
                <h2>Latest <span class="skin-color">News</span></h2>
                <div class="footer-latest-news">
                    <ul>
                        <li>
                            <a href="#"><img src="images/thumbs/latest-news-pic1.jpg" class="latest-news-img" alt="" /></a>
                            <p class="footer-latest-news">23rd March 2011</p>
                            <p>Class aptent taciti sociosqu and litora torquent per conubia nostr powers</p>
                            <p><a href="#" class="footer-read-more">read more</a></p>
                        </li>
                        <li>
                            <a href="#"><img src="images/thumbs/latest-news-pic2.jpg" class="latest-news-img" alt="" /></a>
                            <p class="footer-latest-news">20th March 2011</p>
                            <p>Class aptent taciti sociosqu and litora torquent per conubia nostr powers</p>
                            <p><a href="#" class="footer-read-more">read more</a></p>
                        </li>
                    </ul>
                </div> <!-- .footer-latest-news -->
            </div> <!-- .one-third -->

            <div class="one-third last">
                <div class="footer-title-arrow"></div>
                <h2>Client <span class="skin-color">Testimonials</span></h2>
                <div class="footer-testimonials">

                    <p class="footer-testimonials-text">Lorem ipsum dolor sit amet con ectetur adipiscing elit. Sed purus nisie fringilla non laoreet covalli ferme ntum thenone lorem. Nullam vel lorem is power unite unitew rake nunc.</p>

                    <p class="footer-testimonials-client-info"><span class="skin-color">John Doe,</span> New York</p>

                </div> <!-- .footer-testimonials-->
            </div> <!-- .one-third -->

            <div class="clear"></div>

            <!-- *************************************** -->
            <!-- Edit Small footer CSS Styles from style.css > (11) SMALL FOOTER -->
            <div id="small-footer">
                <ul>
                    <li class="active"><a href="/"><span>Home</span></a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <p>Copyright &copy; Company Name.</p>

            </div> <!-- .small-footer -->

        </div> <!-- #footer -->
    </div> <!-- #footer-bg -->
</div> <!-- #footer -->
