<div id="white-header-bg">
    <div id="white-header">
                    <!-- *************************************** -->
        <!-- Edit Logo Image CSS Styles from style.css > (03) HEADER SECTION > .logo-->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="" /></a>
        </div> <!-- .logo -->
        <!-- *************************************** -->
        <!-- Edit Top Menu Java script from superfish.js -->
        <!-- Edit Top Menu CSS Styles from style.css > (04) TOP MENU-->

        <div id="top-menu">
            <ul class="sf-menu">
                <li data-pagename='home'>
                    <a href="/">Home</a>
                </li>
                <li data-pagename='portfolio'>
                    <a href="/portfolio">Portfolio</a>
                </li>
                <li data-pagename='contact'>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div> <!-- .top-menu -->
    </div><!-- #white-header -->
</div>
