/* 	Index of this CSS File

	(01) COLUMNS ( Grid System)
	(02) LIST STYLES
	(03) PRICING TABLES
	(04) BUTTONS
	(05) IMAGE LEFT, RIGHT AND CENTER
	(06) IMAGE HOVER ZOOM, PLAY, DOC & FLASH ICONS
	(07) GO TOP LINK
	(08) PAGINATION
	(09) PULL QUOTES
	(10) BLOCK QUOTES
	(11) TAB STYLES
	(12) TOGGLES
	(13) DROP CAPS
	(14) INFO BOXES
	(15) POPUP LOGIN
	(16) TOOLTIP
 */

/* ========================================================== 
	(01) COLUMNS ( Grid System)Columns ( Grid System)
============================================================ */

.one-full, .one-half, .one-third , .one-fourth , .one-fifth, .one-sixth, .two-third, .three-fourth, .four-fifth, .five-sixth  { 	
	margin:0px 30px 10px 0; 
	float:left; 
	position:relative;}
	
.last { margin-right:0;}	
.one-full { width:960px; margin-right:0;}
.one-half { width:465px;}
.one-third { width:300px;}
.one-fourth { width:217px;}
.one-fifth { width:168px;}
.one-sixth { width:135px;}
.two-third { width:630px;}
.three-fourth { width:713px;}
.four-fifth { width:762px;}
.five-sixth { width:795px;}

/* ========================================================== 
	(02) LIST STYLES
============================================================ */

#content ul{	
	padding:0 0 8px 0; }	
	
#content ul li{ 
	background:url(../images/backgrounds/bullet-grey.png) no-repeat 0 4px;
	line-height:19px;
	padding-bottom:5px;
	padding-left:18px; } 

#content ol {
	padding-left: 23px; }
	
#content ol li{
	padding-bottom:5px;
	line-height:19px;	
	list-style-type:decimal;
	list-style-position: outside; }	
	
/* Unordered Lists */
	
#content ul.list-green li 		{ background:url(../images/bullets/bullet-green.png) no-repeat 0 6px; }	
#content ul.list-disc-green li 	{ background:url(../images/bullets/disc-green.png) no-repeat 0 6px; }

#content ul.list-blue li 		{ background:url(../images/bullets/bullet-blue.png) no-repeat 0 6px; }	
#content ul.list-disc-blue li 	{ background:url(../images/bullets/disc-blue.png) no-repeat 0 6px; }

#content ul.list-black li		{ background:url(../images/bullets/bullet-black.png) no-repeat 0 6px; }	
#content ul.list-disc-black li	{ background:url(../images/bullets/disc-black.png) no-repeat 0 6px; }

#content ul.list-red li 		{ background:url(../images/bullets/bullet-red.png) no-repeat 0 6px; }	
#content ul.list-disc-red li 	{ background:url(../images/bullets/disc-red.png) no-repeat 0 6px; }

#content ul.list-teal li		{ background:url(../images/bullets/bullet-teal.png) no-repeat 0 6px; }	
#content ul.list-disc-teal li 	{ background:url(../images/bullets/disc-teal.png) no-repeat 0 6px; }

#content ul.list-orange li		{ background:url(../images/bullets/bullet-orange.png) no-repeat 0 6px; }	
#content ul.list-disc-orange li	{ background:url(../images/bullets/disc-orange.png) no-repeat 0 6px; }

#content ul.list-grey li		{ background:url(../images/bullets/bullet-grey.png) no-repeat 0 6px; }	
#content ul.list-disc-grey li 	{ background:url(../images/bullets/disc-grey.png) no-repeat 0 6px; }

#content ul.list-brown li		{ background:url(../images/bullets/bullet-brown.png) no-repeat 0 6px; }	
#content ul.list-disc-brown li 	{ background:url(../images/bullets/disc-brown.png) no-repeat 0 6px; }

#content ul.list-yellow li 		{ background:url(../images/bullets/bullet-yellow.png) no-repeat 0 6px; }	
#content ul.list-disc-yellow li	{ background:url(../images/bullets/disc-yellow.png) no-repeat 0 6px; }

#content ul.list-pink li 		{ background:url(../images/bullets/bullet-pink.png) no-repeat 0 6px; }	
#content ul.list-disc-pink li 	{ background:url(../images/bullets/disc-pink.png) no-repeat 0 6px; }

#content ul.list-yellowstar li	{ background:url(../images/bullets/bullet-yellowstar.png) no-repeat 0 2px; padding-left:20px; }	
#content ul.list-bluestar li 	{ background:url(../images/bullets/bullet-bluestar.png) no-repeat 0 2px; padding-left:20px; }	

#content ul.list-circle li 	  	{ background:url(../images/bullets/bullet-circle.jpg) no-repeat 0 4px; padding-left:20px;  }	
#content ul.list-arrow-small li 	{ background:url(../images/bullets/bullet-arrow-small.png) no-repeat 0 7px; padding-left:14px; }

#content ul.list-arrow li 		{ background:url(../images/bullets/bullet-green-arrow.png) no-repeat 0 2px; padding-left:20px; }	
#content ul.list-arrow2 li		{ background:url(../images/bullets/bullet-green-arrow2.png) no-repeat 0 5px; padding-left:15px; }
	
#content ul.list-plus li		{ background:url(../images/bullets/bullet-plus.png) no-repeat 0 2px; padding-left:22px; }	
#content ul.list-minus li		{ background:url(../images/bullets/bullet-minus.png) no-repeat 0 2px; padding-left:22px; }
	
#content ul.list-checkmark li 	{ background:url(../images/bullets/bullet-checkmark.png) no-repeat 0 4px;padding-left:22px;  }
#content ul.list-checkmark2 li 	{ background:url(../images/bullets/bullet-checkmark2.png) no-repeat 0 2px;padding-left:22px;  }

#content ul.list-cross li 		{ background:url(../images/bullets/bullet-cross.png) no-repeat 0 2px; padding-left:22px;}	
#content ul.list-blue-arrow li 	{ background:url(../images/bullets/blue-arrow.png) no-repeat 0 2px; padding-left:22px;}	
#content ul.list-black-arrow li { background:url(../images/bullets/black-arrow.png) no-repeat 0 2px; padding-left:22px;}	

/* Ordered Lists */

#content ol {	padding: 0 0 8px 23px; }
	
#content ol li{
	padding-bottom:5px;
	line-height:19px;	
	list-style-type:decimal;
	list-style-position: outside; }	
	
#content ol.list-lower-roman li { list-style: lower-roman; }
#content ol.list-upper-roman li { list-style: upper-roman; }
#content ol.list-lower-alpha li { list-style: lower-alpha; }
#content ol.list-upper-alpha li { list-style: upper-alpha; }

#content ol.steps {
	clear:both;
	margin: 0px 0 20px 0;
	background: #f4f4f4;
	padding: 0 0 0 35px;
	border: 1px solid #dedede;
	background: url(../images/backgrounds/orderedlist_bg.jpg) repeat-y;}
	
#content ol.steps li {
	margin: 0;
	padding: 15px 15px 5px 15px;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	border-top: 1px solid #fff;	
	border-bottom: 1px solid #dedede;	
	border-left: 1px solid #fff;	
	background: #eeeeee;
	text-shadow:0 1px 0 #fff;}

#content ol.steps li:hover {background: #e6e6e6;}
	
#content ol.steps li h3 { font-size:18px; margin:0 0 10px 0 }
	
#content ol.steps li p { font-size:12px; color:#363636; font-weight:normal; margin:0 0 10px 0;}
	
#content ol.steps li.first { }
#content ol.steps li.last {	border-bottom: none; }	
	
	
	
	
	
/* ========================================================== 
	(03) PRICING TABLES
============================================================ */

.pricing-table1,.pricing-table2 { padding:0; margin:10px 0 0 0; clear:both; text-align:center;}
.pricing-table1 { background:url(../images/backgrounds/pricing-table1-bg.jpg) repeat-y 0 0; width:225px; }
.pricing-table2{ background:url(../images/backgrounds/pricing-table2-bg.jpg) repeat-y 0 0; width:306px; }

#content .pricing-table1 h3.pricing-table1-normal,#content .pricing-table1 h3.pricing-table1-popular { width:225px; color:#fff; margin:0; line-height:10px;}
#content .pricing-table1 h3.pricing-table1-normal{ background:url(../images/backgrounds/pricing-normal1-top.jpg) no-repeat 0 0; height:72px;  padding-top:53px; font-size:27px;}
#content .pricing-table1 h3.pricing-table1-popular { background:url(../images/backgrounds/pricing-popular1-top.jpg) no-repeat 0 0; height:92px; padding-top:33px; font-size:30px;}

h3.pricing-table1-normal sub,h3.pricing-table1-popular sub,h3.pricing-table2-normal sub,h3.pricing-table2-popular sub{color:#c4a14e; font-size:14px; font-style:italic;}
h3.pricing-table1-popular sub,h3.pricing-table2-popular sub{font-size:17px;}

p.table-price-normal{ font-size:45px; color:#181818; clear:both; padding:20px 0 0px 0;}
p.table-price-normal sub,p.table-price-popular sub{ font-size:17px; color:#181818; vertical-align:baseline; }
p.table-price-popular{ font-size:60px; color:#181818; clear:both; padding:20px 0 0px 0;}

#content .pricing-table1 ul,#content .pricing-table2 ul { margin:0; padding:0; color:#5b5a5a;}
#content .pricing-table1 ul li,#content .pricing-table2 ul li {margin:0; padding:0;  height:36px; line-height:34px; display:block;}
#content .pricing-table1 ul li a,#content .pricing-table2 ul li a{ height:36px; line-height:34px; width:225px; display:block; }
#content .pricing-table1 ul li a:hover,#content .pricing-table2 ul li a:hover{ color:#181818;}

#content .pricing-table1 ul li { background:url(../images/backgrounds/pricing-table1-list-bg.jpg) no-repeat 0 0; width:225px;}
#content .pricing-table2 ul li { background:url(../images/backgrounds/pricing-table2-list-bg.jpg) no-repeat 0 0; width:306px;}
#content .pricing-table2 ul li a{ width:306px; }

.pricing-table1-bottom { background:url(../images/backgrounds/pricing-normal1-bottom.jpg) no-repeat 0 bottom; width:225px;}
.pricing-table2-bottom { background:url(../images/backgrounds/pricing-normal2-bottom.jpg) no-repeat 0 bottom; width:306px;}

.pricing-table1-bottom ,.pricing-table2-bottom { height:79px; margin-top:10px;}
.pricing-table1-bottom  .skin-button2,.pricing-table2-bottom  .skin-button2{ margin-top:18px; }

#content .pricing-table2 h3.pricing-table2-normal,#content .pricing-table2 h3.pricing-table2-popular { width:306px; color:#fff; margin:0; line-height:10px;}
#content .pricing-table2 h3.pricing-table2-normal{ background:url(../images/backgrounds/pricing-normal2-top.jpg) no-repeat 0 0; height:72px;  padding-top:53px; font-size:27px;}
#content .pricing-table2 h3.pricing-table2-popular { background:url(../images/backgrounds/pricing-popular2-top.jpg) no-repeat 0 0; height:92px; padding-top:33px; font-size:30px;}

/* PRICING TABLE 3 */

.pricing-table3 { text-align:center; width:100%; margin-bottom:0px;}
.pricing-table3 img { vertical-align:middle;}
.pricing-table3 th { 	
	font-family:georgia,arial;
	color:#fff; 
	height:63px;
	line-height:63px;	
	font-size:22px;
	font-weight:normal;
	text-shadow: none;
	-moz-border-radius-topright: 3px;  
	-khtml-border-radius-topright: 3px; 
	-webkit-border-top-right-radius: 3px; 
	-moz-border-radius-topleft: 3px; 
	-khtml-border-radius-topleft: 3px; 
	-webkit-border-top-left-radius: 3px;}
	
.th-khaki { background:#c4a14e url(../images/backgrounds/table-heading-bg.png) repeat-x 0 0; width:150px; border:1px solid #c4a14e; }
.th-khaki:hover {background-color:#a4802b;}
.th-blue { background:#589eff url(../images/backgrounds/table-heading-bg.png) repeat-x 0 0; width:150px; border:1px solid #4cc6ff; }
.th-blue:hover {background-color:#3174d0;}
.th-pink { background:#c75373 url(../images/backgrounds/table-heading-bg.png) repeat-x 0 0; width:150px; border:1px solid #c75373; }
.th-pink:hover {background-color:#9a2f4c;}
.th-green { background:#9db407 url(../images/backgrounds/table-heading-bg.png) repeat-x 0 0; width:150px; border:1px solid #9db407; }
.th-green:hover {background-color:#738406;}

.rowOdd,.rowEven { height:41px; vertical-align:middle; }
.rowOdd { background:#e5e5e5 url(../images/backgrounds/table-border.png) repeat-x 0 bottom;}
.rowEven { background:#f0efef url(../images/backgrounds/table-border.png) repeat-x 0 bottom; }
.rowOdd:hover,.rowEven:hover { background:#dcdbdb url(../images/backgrounds/table-border-hover.png) repeat-x 0 bottom; color:#000;text-shadow: 0 1px 0 #eaeaea} }

.rowLast { height:120px; vertical-align:middle;}	 
.cellBottom:hover { height:120px; vertical-align:middle;background:#ebebeb url(../images/backgrounds/table-bottom-bg-hover.png) repeat-x 0 bottom;  }	 
.cellBottom { 
	padding:15px;
	background:#f4f4f2 url(../images/backgrounds/table-bottom-bg.png) repeat-x 0 bottom; 
	-moz-border-radius-bottomright: 5px;  
	-khtml-border-radius-bottomright: 5px; 
	-webkit-border-bottom-right-radius: 5px; 
	-moz-border-radius-bottomleft: 5px; 
	-khtml-border-radius-bottomleft: 5px; 
	-webkit-border-bottom-left-radius: 5px; }
.cellLast { background:#f4f4f2;}	

.table3-price { color:#000; font-size:24px; font-weight:bold;}
.table3-sub { color:#777; height:50px; clear:both; height:10px; vertical-align:text-top; display:block;}	

.cellFirst { text-align:left; padding-left:10px; border-left:1px solid #dddbdb; text-align:left; }
.pricing-table3 tr td {border-right:1px solid #dddbdb;}
.cellTopLeft { border-left:1px solid #dddbdb;  border-top:1px solid #dddbdb;text-align:left; padding-left:10px; }

.cellBottom .button-size2 { margin-left:7px; }

/* ========================================================== 
	(04) BUTTONS
============================================================ */

button { 	
	cursor: pointer;
	overflow: visible; 
	position: relative;}
	
button span { 	
	display: block;	
	white-space: nowrap; 
	height:32px;	
	position: relative;}
	
button::-moz-focus-inner { border: none; padding:0;} /* span’s offset in firefox */

a.button-white, button.button-white{ 	
	height:32px;
	display:inline-block;
	padding:0 0 0 15px;
	width:auto;
	text-decoration:none;
	cursor:pointer;
	border:none;
	outline:none; }

a.button-white span, button.button-white span{ 	
	height:32px;
	display:inline-block;
	padding:0 15px 0 0;
	margin:0;
	line-height:32px;
	position: relative; 
	font-size:13px;	
	text-shadow: 0 1px 0 #fff}


/* ====== White Buttons ====== */

a.button-white,button.button-white { background:url(../images/backgrounds/button-white-on-left.jpg) no-repeat left 0;}
a.button-white span,button.button-white span{ background:url(../images/backgrounds/button-white-on-right.jpg) no-repeat right 0; color:#292929;text-shadow: 0 1px 0 #fff }
a:hover.button-white,button.button-white:hover{ background:url(../images/backgrounds/button-white-hover-left.jpg) no-repeat left 0;}
a:hover.button-white span,button.button-white:hover span{ background:url(../images/backgrounds/button-white-hover-right.jpg) no-repeat right 0; color:#000; text-shadow: 0 1px 0 #fff }	

/* ====== Black Buttons ====== */

a.button-size1, button.button-size1,a.button-size2, button.button-size2,a.button-size3, button.button-size3,a.button-size4, button.button-size4,a.button-size5, button.button-size5,a.button-size6, button.button-size6 {
	display:inline-block;
	float:left;
	text-decoration:none;
	cursor:pointer;
	border:none;
	outline:none; }

a.button-size1 span, button.button-size1 span,a.button-size2 span, button.button-size2 span,a.button-size3 span, button.button-size3 span,a.button-size4 span, button.button-size4 span,a.button-size5 span, button.button-size5 span,a.button-size6 span, button.button-size6 span {
	display:inline-block;
	color:#f5f5f5;
	margin:0;
	text-shadow: 1px 1px 0px #000;}

/* ====== Button Size 1 ====== */
	
a.button-size1 span, button.button-size1 span{ 
	background:url(../images/backgrounds/button-size1.png) no-repeat right -34px;
	height:32px;	
	padding:0 20px 0 0;	
	line-height:30px;	
	font-size:12px;}
	
a.button-size1, button.button-size1 { 
	background:url(../images/backgrounds/button-size1.png) no-repeat 0 0;
	height:32px;	
	padding:0 0px 0 17px;}
	
a:hover.button-size1, button.button-size1:hover{ background:url(../images/backgrounds/button-size1.png) no-repeat 0 -69px;}

a:hover.button-size1 span, button.button-size1:hover span{ background:url(../images/backgrounds/button-size1.png) no-repeat right -103px;}		
	
/* ====== Button Size 2 ====== */
	
a.button-size2 span, button.button-size2 span{ 
	background:url(../images/backgrounds/button-size2.png) no-repeat right -41px;
	height:38px;	
	padding:0 20px 0 0;	
	line-height:36px;	
	font-size:14px;}
	
a.button-size2, button.button-size2 { 
	background:url(../images/backgrounds/button-size2.png) no-repeat 0 0;
	height:38px;	
	padding:0 0px 0 17px;}
	
a:hover.button-size2, button.button-size2:hover{ background:url(../images/backgrounds/button-size2.png) no-repeat 0 -83px;}

a:hover.button-size2 span, button.button-size2:hover span{ background:url(../images/backgrounds/button-size2.png) no-repeat right -124px;}	
	
/* ====== Button Size 3 ====== */
	
a.button-size3 span, button.button-size3 span{ 
	background:url(../images/backgrounds/button-size3.png) no-repeat right -54px;
	height:50px;	
	padding:0 52px 0 0;	
	line-height:47px;	
	font-size:16px;}
	
a.button-size3, button.button-size3 { 
	background:url(../images/backgrounds/button-size3.png) no-repeat 0 0;
	height:50px;	
	padding:0 0px 0 17px;}
	
a:hover.button-size3, button.button-size3:hover{ background:url(../images/backgrounds/button-size3.png) no-repeat 0 -120px;}

a:hover.button-size3 span, button.button-size3:hover span{ background:url(../images/backgrounds/button-size3.png) no-repeat right -174px;}

/* ====== Button Size 4 ====== */
	
a.button-size4 span, button.button-size4 span{ 
	background:url(../images/backgrounds/button-size4.png) no-repeat right -65px;
	height:58px;	
	padding:0 58px 0 0;	
	line-height:57px;	
	font-size:22px;}
	
a.button-size4, button.button-size3 { 
	background:url(../images/backgrounds/button-size4.png) no-repeat 0 0;
	height:58px;	
	padding:0 0px 0 22px;}
	
a:hover.button-size4, button.button-size4:hover{ background:url(../images/backgrounds/button-size4.png) no-repeat 0 -130px;}

a:hover.button-size4 span, button.button-size4:hover span{ background:url(../images/backgrounds/button-size4.png) no-repeat right -195px;}

/* Input Tag Button Styles for */

.input-button1,.input-button2,.input-button3,.input-button4 {
	border:0; outline:0; 
	color:#f5f5f5; 
	cursor:pointer; 
	box-shadow: 1px 1px 3px #7d7d7d;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;}

.input-button1 { background:url(../images/backgrounds/input-button-size1.png) repeat-x 0 0; height:29px; padding:0 10px 0 10px;  line-height:24px; font-size:11px; box-shadow: 1px 1px 2px #7d7d7d;}
.input-button1:hover { background:url(../images/backgrounds/input-button-size1.png) repeat-x 0 bottom; }

.input-button2 { background:url(../images/backgrounds/input-button-size2.png) repeat-x 0 0; height:34px; padding:0 10px 0 10px;  line-height:34px; font-size:13px;}
.input-button2:hover { background:url(../images/backgrounds/input-button-size2.png) repeat-x 0 bottom; }

.input-button3 { background:url(../images/backgrounds/input-button-size3.png) repeat-x 0 0; height:44px; padding:0 15px 0 15px;  line-height:44px; font-size:18px;}
.input-button3:hover { background:url(../images/backgrounds/input-button-size3.png) repeat-x 0 bottom; }
	
.input-button4 { background:url(../images/backgrounds/input-button-size4.png) repeat-x 0 0; height:54px; padding:0 20px 0 20px;  line-height:54px; font-size:24px;}
.input-button4:hover { background:url(../images/backgrounds/input-button-size4.png) repeat-x 0 bottom; }

/* ========================================================== 
	(05) IMAGE LEFT, RIGHT AND CENTER
============================================================ */

.image-left, .image-right, .image-center { 
	background:#e0e0e0 url(../images/backgrounds/image-border.png) no-repeat 0 0; 
	padding:6px; 
	border:1px solid #d3d3d3; }

.image-left { float:left; margin:10px 20px 10px 0; position:relative;}
.image-right { float:right; margin:10px 0 10px 20px; position:relative;}
.image-center { text-align:center; margin:10px 0 10px 0;}

/* ========================================================== 
	(06) IMAGE HOVER ZOOM, PLAY, DOC & FLASH ICONS
============================================================ */

.zoom-icon, .play-icon, .doc-icon, .flash-icon, .preloader { background-position:50% 50%; background-repeat:no-repeat;}
.zoom-icon   { background-image:url(../images/icons/zoom.png)}
.play-icon   { background-image:url(../images/icons/play.png) }
.doc-icon     { background-image:url(../images/icons/doc.png) }
.flash-icon { background-image:url(../images/icons/flash.png) }
.preloader { background-image:url(../images/backgrounds/pre-loader4.gif) }

/* ========================================================== 
	(07) GO TOP LINK
============================================================ */

.gotop a, .gotop a:active,.gotop2 a, .gotop2 a:active { 	
	text-decoration:none; 
	font-size:10px; 
	float:right;
	height:20px;
	margin-top:-20px;}
	
.gotop a, .gotop a:active {color:#888; }
.gotop2 a, .gotop2 a:active {color:#fff}	
	
.gotop a:hover { color:#363636; }
.gotop2 a:hover {color:#c1eeff; }

/* ========================================================== 
	(08) PAGINATION
============================================================ */

#content .pagination ul { padding:0; text-align:center; clear:both;}	
#content .pagination ul li { background:none; padding:0;}

#content .pagination ul li, .pagination li { 	
	background:none; 	
	margin:0; 	
	padding:0;}

#content .pagination li { float:left;}

#content .pagination li a,#content .pagination li.active ,#content .pagination li.page-first a,#content .pagination li.page-previous a,#content .pagination li.page-next a,#content .pagination li.page-last a {
	width:29px;
	height:29px;
	margin:0 6px 0 0;
	text-shadow: 1px 1px 0 #fff;
	text-decoration:none;
	display:block;}

#content .pagination li a {		
	background:url(../images/backgrounds/pagination.jpg) no-repeat 0 0;	
	line-height:29px;	
	color:#292929;}
	
#content .pagination li a:hover {
	background:url(../images/backgrounds/pagination.jpg) no-repeat 0 -30px;	
	font-weight:bold;	
	color:#000;}
	
#content .pagination li.active {		
	background:url(../images/backgrounds/pagination.jpg) no-repeat 0 bottom;	
	line-height:29px;
	font-weight:bold;	
	color:#000;}

#content .pagination li.page-first a,#content .pagination li.page-previous a,#content .pagination li.page-next a,#content .pagination li.page-last a{ text-indent:-9999px;}
	
#content .pagination li.page-first a	{ background:url(../images/backgrounds/page-first.jpg) no-repeat 0 0;}
#content .pagination li.page-previous a{ 	background:url(../images/backgrounds/page-previous.jpg) no-repeat 0 0;}
#content .pagination li.page-next a	{ background:url(../images/backgrounds/page-next.jpg) no-repeat 0 0;}
#content .pagination li.page-last a	{ background:url(../images/backgrounds/page-last.jpg) no-repeat 0 0;}

#content .pagination li.page-first a:hover	{ background:url(../images/backgrounds/page-first.jpg) no-repeat 0 bottom;}
#content .pagination li.page-previous a:hover{ background:url(../images/backgrounds/page-previous.jpg) no-repeat 0 bottom;}
#content .pagination li.page-next a:hover	{ background:url(../images/backgrounds/page-next.jpg) no-repeat 0 bottom;}
#content .pagination li.page-last a:hover	{ background:url(../images/backgrounds/page-last.jpg) no-repeat 0 bottom;}

/* ========================================================== 
	(09) PULL QUOTES
============================================================ */

.pullquote-left, .pullquote-right { 
	background:url(../images/backgrounds/pullquote1.jpg) repeat-y; 	
	width:30%; 
	line-height:22px; 
	padding-left:20px; 
	color:#181818; 
	font-style:italic; 
	font-size:15px; 
	font-weight:bold;}
	
.pullquote-left { 	
	float:left; 	
	margin:20px 15px 20px 0;}
	
.pullquote-right {	
	float:right; 	
	margin:20px 0 20px 15px;}

/* ========================================================== 
	(10) BLOCK QUOTES
============================================================ */
	
blockquote.style1 {
	clear:both;
	font-size:18px;
	font-style:italic;
	color:#5b5a5a;
	line-height:24px;	
	padding:0; 
	margin:20px 0 20px 0;	
	background:url(../images/backgrounds/quote-top.png) no-repeat 0 0;  }
blockquote.style1 p {
	background:url(../images/backgrounds/quote-bottom.png) no-repeat right bottom;  
	display: block;
	padding:15px 59px 18px 59px;
	margin:0; line-height:24px;} 
	
/* ========================================================== 
	(11) TAB STYLES
============================================================ */

#content ul.tabs { 
	margin:10px 0 0 0;
	padding: 0; 
	float: left; 
	list-style: none; 
	height: 32px; 
	border-bottom: 1px solid #d6d6d6; 
	width: 100%; }
	
#content ul.tabs li { 
	float: left; 
	margin: 0; 
	padding: 0; 
	height: 31px; 
	line-height: 31px; 
	border: 1px solid #d6d6d6; 
	margin-bottom: -1px; 
	background: url(../images/backgrounds/tab_bg.jpg) repeat-x; 
	overflow: hidden; 
	position: relative; 
	margin-right:2px; 
	-moz-border-radius-topright: 3px;  
	-khtml-border-radius-topright: 3px; 
	-webkit-border-top-right-radius: 3px; 
	-moz-border-radius-topleft: 3px; 
	-khtml-border-radius-topleft: 3px; 
	-webkit-border-top-left-radius: 3px; }

#content ul.tabs li a { 
	text-decoration: none; 
	color:#363636; 
	display: block; 
	font-size: 13px; 
	padding: 0 20px; 
	outline: none; }	

#content ul.tabs li a:hover  { background: url(../images/backgrounds/tab_bg2.jpg) repeat-x; color:#181818}	

html #content ul.tabs li.active, html #content ul.tabs li.active a:hover  { 
	background:#f6f6f5;
	border-bottom: 1px solid #f6f6f5; 
	font-weight:bold;  }

.tab_container { 
	border: 1px solid #d6d6d6; padding:0; margin:0;
	border-top: none; 
	clear: both; 	
	float: left;  
	width: 100%; 
	background: #f6f6f5; 
	-moz-border-radius-bottomright: 3px; 
	-khtml-border-radius-bottomright: 3px; 
	-webkit-border-bottom-right-radius: 3px; 
	-moz-border-radius-bottomleft: 3px; 
	-khtml-border-radius-bottomleft: 3px; 
	-webkit-border-bottom-left-radius: 3px;}

.tab_content { padding: 20px 20px 0 20px; color:#505050}
	
/* ========================================================== 
	(12) TOGGLES
============================================================ */

.trigger, .acc_trigger, .trigger, .acc_trigger { margin-bottom:2px;}

p.trigger, p.acc_trigger{ clear:both;
	padding:0;  
	margin:0 0 2px 0;  
	background: url(../images/backgrounds/toggle_bg.jpg) no-repeat;  
	height: 34px;  
	line-height: 34px; 
	width: 100%; 
	float: left; 
	border: 1px solid #d6d6d6; }
	
p.trigger a, p.acc_trigger a { clear:both;
	color: #484848; 
	font-size: 14px; 	
	text-indent:35px; 
	text-decoration: none; 
	display: block; 
	font-size:16px;
	height: 34px;  
	line-height: 34px;  }
	
p.trigger a:hover, p.acc_trigger a:hover { color: #181818; }

p.active a{background: url(../images/backgrounds/toggle_bg.jpg) no-repeat left bottom;color:#000;}

.toggle_container, .acc_container { 
	margin: 0 0 5px 0; 
	padding: 0; 
	overflow: hidden; 
	width: auto; 
	clear: both; 
	border: 1px solid #d6d6d6;
	background-color:#f8f8f8; }
	
.toggle_container .block , .acc_container .block { 
	padding: 15px 15px 5px 15px; 
	margin:0; }

p.trigger2, p.acc_trigger2{ 
	padding: 0;  
	margin:0 0 2px 0; 
	background: url(../images/backgrounds/plus.png) no-repeat 10px 9px;  
	height: 34px;  
	line-height: 34px; 
	width: 100%; 
	float: left; }
	
p.trigger2 a, p.acc_trigger2 a { 
	color: #484848; 
	font-size: 17px; 	
	text-indent:35px; 
	text-decoration: none; 
	display: block; 
	margin-bottom:0; }
	
p.active2 a { background: url(../images/backgrounds/minus.png) no-repeat 10px 9px; color:#181818;}

p.trigger2 a:hover, p.acc_trigger2 a:hover { color: #181818; }

.toggle_container2, .acc_container2 { 
	margin: 0 0 5px 0px;
	padding: 0; 
	overflow: hidden; 
	width: auto; 
	clear: both; }
	
.toggle_container2 .block2, .acc_container2 .block2{ 
	padding: 10px 15px 0px 15px; 
	margin:0; }
	
/* ========================================================== 
	(13) DROP CAPS
============================================================ */

.dropcap1, .dropcap2, .dropcap3, .dropcap4, .dropcap5, .dropcap6, .dropcap7, .dropcap8 { 
	float:left; 
	text-align:center; }
	
.dropcap1,.dropcap2,.dropcap3,.dropcap4 { 	 
	margin:0 7px 0 0; 
	font-size:28px; 		 
	width:44px; 
	height:43px;
	line-height:42px;}
	
.dropcap1 { background:url(../images/backgrounds/dropcap1.png) no-repeat left top; color:#616161; }		
.dropcap2 { background:url(../images/backgrounds/dropcap2.png) no-repeat left top; color:#fff; }
.dropcap3 { background:url(../images/backgrounds/dropcap3.png) no-repeat left top; color:#616161; }		
.dropcap4 { background:url(../images/backgrounds/dropcap4.png) no-repeat left top; color:#fff; }		
	
.dropcap5,.dropcap6, .dropcap7{ 
	padding:0 10px 0 10px; 
	margin:0 7px 0 0; 
	font-size:26px; 	
	width:auto; 
	height:41px;
	line-height:41px;
	letter-spacing:1px;}
	
.dropcap5 { background:url(../images/backgrounds/dropcap-bg1.png) repeat-x left bottom; 	color:#616161; border:1px solid #dedede; }
.dropcap6 { background:url(../images/backgrounds/dropcap-bg2.png) repeat-x left bottom; 	color:#fff; border:1px solid #555; }
.dropcap7 { 
	background-color:#f1f1f1; 
	color:#616161;  
	border:3px solid #dadada;
	height:37px;
	line-height:37px;}	
	
.dropcap8 { 
	padding:10px 10px 0 10px; 
	font-size:36px;
	line-height:30px;
	color:#616161; }

/* ========================================================== 
	(14) INFO BOXES
============================================================ */

/* (a)SIMPLE INFO BOXES */

p.info-box,p.warning-box,p.success-box,p.error-box,p.download-box,p.note-box { 
	clear:both;
	padding:18px 15px 18px 55px ; 
	margin-bottom:20px;
	border:1px solid; }
	
p.info-box{ 
	background:url(../images/icons/icon-info.png) no-repeat 15px 15px; 
	border-color:#9dbfea; 
	background-color:#c6ddfb; 
	color:#00357b;}
	
p.warning-box{ 
	background:url(../images/icons/icon-warning.png) no-repeat 15px 15px; 
	border-color:#e4c968; 
	background-color:#f9e497; 
	color:#6c5500;}
	
p.success-box{ 
	background:url(../images/icons/icon-success.png) no-repeat 15px 15px; 
	border-color:#bcd98c; 
	background-color:#dff1c1; 
	color:#00632e}
	
p.download-box{ 
	background:url(../images/icons/icon-download.png) no-repeat 15px 15px; 
	border-color:#bbd378; 
	background-color:#e8f5c5; color:#2f6903}
	
p.note-box{ 
	background:url(../images/icons/icon-note.png) no-repeat 15px 15px; 
	border-color:#cecece;  
	background-color:#efefef}
	
p.error-box{ 
	background:url(../images/icons/icon-error.png) no-repeat 15px 15px; 
	border-color:#f88787; 
	background-color:#fdafaf; 
	color:#820101;}

.hide-boxes{
	float:right;
	margin-top:0;
	margin-right:0;
	top:0;
	right:0;	
	cursor:pointer; 
	font-weight:bold;}
	
/* (b) MYFANCY INFO BOXES */

.myfancy-box { 
	background:#f9f8f8; 
	padding:0;
	border:1px solid #dadada;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:30px;
	}
	
#content .myfancy-box h3 { 
	background:url(../images/backgrounds/infobox-title-bg.png) repeat-x 0 0;
	font-size:17px;	
	height:39px;
	line-height:39px;
	color:#fff;
	padding:0 15px 0 15px;
	-moz-border-radius-topright: 5px;  
	-khtml-border-radius-topright: 5px; 
	-webkit-border-top-right-radius: 5px; 
	-moz-border-radius-topleft: 5px; 
	-khtml-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px;}
	
#content .myfancy-box h3.red-box { background-color:#dd2619; }
#content .myfancy-box h3.green-box { background-color:#6fab00; }
#content .myfancy-box h3.blue-box { background-color:#3576cf; }
#content .myfancy-box h3.orange-box { background-color:#de6d08; }
#content .myfancy-box h3.grey-box { background-color:#484848; }
#content .myfancy-box h3.jordy-blue-box { background-color:#bc3a5e; }
	
.hide-boxes2 { float:right; margin:10px 10px 0 0; cursor:pointer;	 }
.myfancy-box-icon { float:left; margin: 10px 15px 0 15px; }
	
#content .myfancy-box p { margin:15px; }
	
/* ========================================================== 
	(15) POPUP LOGIN
============================================================ */

#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .30;
	z-index: 9999;}
	
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fefefe;
	padding: 0 10px 0px 10px;
	border: 10px solid #e8e8e8;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;	
	-webkit-box-shadow: 0 0 10px #6c6c6c;
	-moz-box-shadow: 0 0 10px #6c6c6c;
	box-shadow: 0 0 10px #6c6c6c;}
	
.btn_close {
	float: right;
	margin: -25px -35px 0 0;
	background:url(../images/icons/close.png) no-repeat;
	text-indent:-9999px;
	height:36px;
	width:36px;
	display:block;}

*html #fade { position: absolute;}
*html .popup_block { position: absolute; }

#member-login {
	padding:0 0 0 147px;
	margin:0 10px 0 10px;
	position:relative;	
	height:180px;
	background:url(../images/backgrounds/login-icon.jpg) no-repeat 0 20px;}

#member-login h2 {
	color:#363636;
	font-size:22px;
	margin:20px 0 13px 0;
	font-weight:normal;}

div#username, div#password { margin-bottom:5px;}

input#loginUsername, input#loginPassword {
	width:209px;
	height:31px;
	line-height:31px;
	padding:0 0 0 5px;
	margin:0;
	border:none;
	background:url(../images/backgrounds/login-input.jpg) repeat-x;	}

label.overlabel {
	color:#9e9e9e;
	padding:5px 0 0 7px;
	position:absolute;	
	z-index:1;
	color:#999;}
	
.login-hr {
	border-bottom:1px solid #e0e0e0; 
	margin-top:10px;}
	
.member-login-bottom,.member-login-bottom a{ 	
	margin:10px 0 0 5px;
	font-size:13px; 
	color:#8a8a8a; 
	text-decoration:none;}
	
.member-login-bottom  a:hover { color:#373737;}

/* ========================================================== 
	(16) TOOLTIP
============================================================ */

.tipsy { padding: 5px; font-size: 12px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/backgrounds/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:5px; -webkit-border-radius:5px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

