<div id="header-home">

    <!-- *************************************** -->
    <!-- Edit Slider Java script from jquery.cycle.all.js -->
    <!-- Edit Slider CSS Styles from style.css > (05) HEADER SLIDER ( Home Page ) -->

    <div id="cycle-slider">

        <ul id="slideshow">

            <!-- Slide One -->

            <li>
                <div class="slider-content-bg1">

                    <div class="slider-content-left">
                        <h2><span class="skin-color">Project</span>  Title</h2>
                        <p>Proin sit amet quam erat. Quisque vestibulum dui et ante commodo at ultricies sapien accumsan. Integer rho ncus ultrices nisi, quis luctus dui aliquam vel. Integer inter dum placerat aliquet. Integer quis massa sed mauris digni ssim viverra vitae vitae arcu. Donec nulla erat, tristique vulputate rutrum non dictum eu lectus.</p>
                        <p><a href="3column-portfolio.html" class="skin-button1"><span>read more</span></a></p>

                    </div> <!-- .slider-content -->

                    <div class="slider-image-right">
                        <div class="slider-image-overlay1"><a href="3column-portfolio.html"></a></div>
                        <img src="images/sliders/slide1.jpg" alt="" />
                    </div> <!-- .slider-image-right -->

                </div> <!-- .slider-content-bg1 -->
            </li>

            <!-- Slide Two -->

            <li>
                <div class="slider-content-bg2">

                    <div class="slider-image-left">
                        <div class="slider-image-overlay2"><a href="3column-portfolio.html"></a></div>
                        <img src="images/sliders/slide2.jpg" alt="" />
                    </div> <!-- .slider-image-left -->

                    <div class="slider-content-left">
                        <h2><span class="skin-color">Project</span> Title</h2>
                        <p>Proin sit amet quam erat. Quisque vestibulum dui et ante commodo at ultricies sapien accumsan. Integer rho ncus ultrices nisi, quis luctus dui aliquam vel. Integer inter dum placerat aliquet. Integer quis massa sed mauris digni ssim viverra vitae vitae arcu. Donec nulla erat, tristique vulputate rutrum non dictum eu lectus.</p>
                        <p><a href="3column-portfolio.html" class="skin-button1"><span>read more</span></a></p>

                    </div> <!-- .slider-content -->



                </div> <!-- .slider-content-bg2 -->
            </li>

            <!-- Slide Three -->

            <li>
                <div class="slider-content-bg3">

                    <div class="slider-content-left2">
                        <h2>Project <span class="skin-color">Title</span></h2>
                        <p>Proin sit amet quam erat. Quisque vestibulum dui et ante commodo at ultricies sapien accumsan. Integer rho ncus ultrices nisi, quis luctus dui aliquam vel. Integer inter dum placerat aliquet.</p>
                        <p><a href="3column-portfolio.html" class="skin-button1"><span>read more</span></a></p>

                    </div> <!-- .slider-content -->

                    <div class="slider-image-center">
                        <div class="slider-image-overlay3"><a href="3column-portfolio.html"></a></div>
                        <img src="images/sliders/slide3.jpg" alt="" />
                    </div> <!-- .slider-image-center -->

                    <div class="slider-content-right2">
                        <h3><span class="skin-color">Services</span> Provided</h3>
                        <div class="slider-list">
                            <ul>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Wordpress Blog</a></li>
                                <li><a href="#">Shopping Cart</a></li>
                                <li><a href="#">Logo Design</a></li>
                                <li><a href="#">Flash Animation</a></li>
                                <li><a href="#">Print Design</a></li>
                            </ul>

                            <p><a href="#" class="slider-bullet">Launch Project</a></p>

                        </div> <!-- .slider-content -->

                    </div> <!-- .slider-content-bg3 -->
                </div>
            </li>

            <!-- Slide Four -->

            <li>
                <div class="slider-content-bg1">

                    <div class="slider-content-left">
                        <h2><span class="skin-color">YouTube</span> Video</h2>
                        <p>Proin sit amet quam erat. Quisque vestibulum dui et ante commodo at ultricies sapien accumsan. Integer rho ncus ultrices nisi, quis luctus dui aliquam vel. Integer inter dum placerat aliquet. Integer quis massa sed mauris digni ssim viverra vitae vitae arcu. Donec nulla erat, tristique vulputate rutrum non dictum eu lectus.</p>
                        <p><a href="3column-portfolio.html" class="skin-button1"><span>read more</span></a></p>

                    </div> <!-- .slider-content -->

                    <div class="slider-image-right">
                        <div class="slider-video round5">
                            <div id="flashcontent">
                                <div class="aligncenter">
                                    <a href="http://www.adobe.com/go/EN_US-H-GET-FLASH"><img src="images/thumbs/get_adobe_flash_player.png" alt="" /></a>
                                </div>
                            </div>
                            <script type="text/javascript">
                                 var fo = new FlashObject("http://www.youtube.com/v/-E-kq9LxIQ0?fs=1&amp;hl=en_US", "mymovie", "550", "267", "7", "#336699");
                                 fo.addParam("quality", "high");
                                 fo.addParam("scale", "noscale");
                                 fo.addParam("wmode", "transparent");
                                 fo.write("flashcontent");
                            </script>
                        </div> <!-- .slider-video -->
                    </div> <!-- .slider-image-right -->

                </div> <!-- .slider-content-bg1 -->
            </li>

            <!-- Slide Five -->

            <li>
                <div class="slider-image-full">
                    <div class="slider-image-overlay4"><a href="3column-portfolio.html"></a></div>
                    <img src="images/sliders/slide4.jpg" alt="" />
                </div> <!-- .slider-image-center -->
            </li>

        </ul>
    </div> <!-- #cycle-slider -->

    <!-- Slider Navigation -->
    <div class="cycle-navigation">
        <p class="cycle-prev"><a href="#" id="prev">Prev</a></p>
        <p class="cycle-next"><a href="#" id="next">Next</a></p>
        <div class="center"><div id="nav"></div></div>
    </div> <!-- .cycle-navigation -->

</div> <!-- #header-home -->

<!-- *************************************** -->
<div id="container">
    <div id="content">


        <!-- *************************************** -->
        <!-- Edit Welcome Text CSS Styles from style.css > (07) WHITE BOXES & WELCOME TEXT( Home Page ) -->

        <div class="welcome-text">
            <img src="images/home-welcome-pic.png" class="welcome-pic" alt="" />
            <h1>Welcome to Our Website!</h1>
            <p>Lorem ipsum dolor sit ame consectetur adipiscing elit. Morbi is tincidunt feugiat euismod. In rutrum dignissim nulla vitae lacinia lectus faucibus non. Utirs elit vel nibh pellentesque dapibus tusce odio lorem ullamcorper idea dignise sim id lacinia quis felis. Duis enim mi placerat eu accumsan sed placerat seder sapien. Donec vel purus ids united smassa sceler isque lobortis. Aliquam erat volutpat.  Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        </div> <!-- .welcome-text -->

        <div class="divider1 clear"></div>

        <!-- *************************************** -->
        <!-- Edit Whiteboxes CSS Styles from style.css > (07) WHITE BOXES & WELCOME TEXT( Home Page ) -->

        <div class="one-third">
            <div class="white-box">
                <div class="white-box-bottom">
                    <div class="white-box-top">

                        <div class="white-box-heading">
                            <h2>Company Background<br /><sub>our vision and mission</sub></h2>
                        </div> <!-- .white-box-heading -->

                        <div class="white-box-content">
                            <img src="images/thumbs/home-pic1.png" alt="" class="white-box-img" />
                            <p>Lorem ipsum dolor sit  amet consectetur adipiscing eli laoreet felis vitae leo viverri volutpat  integer elit sem placerat ut ultric ies sed mollis vel nibh.</p>
                        </div> <!-- .white-box-content -->
                    </div> <!-- .white-box-top -->
                </div> <!-- .white-box-bottom -->
            </div> <!-- .home-white-box -->
        </div> <!-- .one-third -->

        <div class="one-third">
            <div class="white-box">
                <div class="white-box-bottom">
                    <div class="white-box-top">

                        <div class="white-box-heading">
                            <h2>Website Development<br /><sub>e-commerce solutions</sub></h2>
                        </div> <!-- .white-box-heading -->

                        <div class="white-box-content">
                            <img src="images/thumbs/home-pic2.png" alt="" class="white-box-img" />
                            <p>Lorem ipsum dolor sit  amet consectetur adipiscing eli laoreet felis vitae leo viverri volutpat  integer elit sem placerat ut ultric ies sed mollis vel nibh.</p>
                        </div> <!-- .white-box-content -->
                    </div> <!-- .white-box-top -->
                </div> <!-- .white-box-bottom -->
            </div> <!-- .home-white-box -->
        </div> <!-- .one-third -->

        <div class="one-third last">
            <div class="white-box">
                <div class="white-box-bottom">
                    <div class="white-box-top">

                        <div class="white-box-heading">
                            <h2>Email Marketing<br /><sub>send unlimited emails</sub></h2>
                        </div> <!-- .white-box-heading -->

                        <div class="white-box-content">
                            <img src="images/thumbs/home-pic3.png" alt="" class="white-box-img" />
                            <p>Lorem ipsum dolor sit  amet consectetur adipiscing eli laoreet felis vitae leo viverri volutpat  integer elit sem placerat ut ultric ies sed mollis vel nibh.</p>
                        </div> <!-- .white-box-content -->
                    </div> <!-- .white-box-top -->
                </div> <!-- .white-box-bottom -->
            </div> <!-- .home-white-box -->
        </div> <!-- .one-third -->

        <div class="clear"></div>

        <!-- *************************************** -->
        <!-- Edit Special Offer CSS Styles from style.css > (08) SPECIAL OFFER BOX	( Home Page )  -->
        <div class="special-offer">
            <h5 class="left special-offer-text">Subscribe for 12 months and get an extra 2 months free!</h5>
            <p class="right"><a href="#" class="button-size3"><span>SIGN UP NOW</span></a></p>
        </div> <!-- .special-offer -->

    </div> <!-- #content -->
</div> <!-- #container -->
